@use "../../colors.module.scss" as colors;

@mixin hoverColor(){
  background-color: colors.$hover;
}

.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: Calc(100vh - 8rem);
}

.loginCard{
    background-color: colors.$background;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 20rem;
    width: 100%;
    box-shadow: 0 4px 1rem -4px colors.$gray1
}

.loginTitle{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom:6;
}

.loginLabel{
    display:block;
    font-weight: bold;
    margin-bottom:2;
}

.loginInput{
}

.username{
    margin-bottom:4;
    display: grid;
}



.password{
    margin-bottom:6;
    display: grid;
}

.loginButton{
    background: colors.$buttons;
    cursor:pointer;
    border-radius: 0.5rem;

    &:hover{
        @include hoverColor();
    }
}

.buttonGroup{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 1rem;
}