@use "./colors.module.scss" as colors;

$value1rem: 1rem;
$value2rem: 2rem;

@media (min-width:320px) {
  .page{
    min-width: 320px;
    // padding: $value1rem ;
    box-sizing: border-box;
  }

}

@media (min-width:768px) {
  .page{
    min-width: 768px;
    padding: $value1rem $value2rem;
    box-sizing: border-box;
  }

}

